/******************************** [all] ******************************/
:root {
    --yellow: #fbd81b;
    --pink: #ef087f;
    --black: #232323;
    --silver: #ececec;
    --white: #ffffff;
    --dark: #000000;
    --logocolor: #383431;
}

body {
    background-color: var(--white);
    direction: rtl !important;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    color: var(--pink);
    cursor: pointer;
}

.my-btn:not(.btn-link):not(.btn-flat) {
    background: var(--black);
    color: var(--white);
}

.my-btn:hover:not(.btn-link):not(.btn-flat) {
    background: var(--yellow);
    color: var(--black);
}

.my-btn:active:not(.btn-link):not(.btn-flat) {
    background: var(--yellow);
    color: var(--black);
}

.my-btn {
    background: var(--yellow);
    color: var(--black);
}

.base-block .desc .title {
    font-weight: bolder;
}

.apps, .news-list, .rules, .quide, .tariffs, .profile {
    /*border-bottom: 1px solid var(--yellow);*/
    padding-bottom: 20px;
}

@-webkit-keyframes grayscaling /* Safari and Chrome */
{
    from {
        -webkit-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
        border-color: var(--white);
    }
    to {
        -webkit-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        border-color: var(--black);
    }
}

@keyframes grayscaling {
    from {
        -moz-filter: grayscale(0);
        -webkit-filter: grayscale(0);
        -o-filter: grayscale(0);
        filter: grayscale(0);
        border-color: var(--white);
    }
    to {
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        border-color: var(--black);
    }
}

.grayscaling {
    -webkit-animation: grayscaling 0.5s linear infinite;
    -moz-animation: grayscaling 0.5s linear infinite;
    -ms-animation: grayscaling 0.5s linear infinite;
    -o-animation: grayscaling 0.5s linear infinite;
    animation: grayscaling 0.5s linear infinite;
}

/*@-webkit-keyframes scaling !* Safari and Chrome *!
       {
           from {
               -webkit-transform: scale(0.5);
               -o-transform: scale(0.5);
               transform: scale(0.5);
           }
           to {
               -webkit-transform: scale(1);
               -o-transform: scale(1);
               transform: scale(1);
           }
       }

       @keyframes scaling {
           from {
               -ms-transform: scale(0.5);
               -moz-transform: scale(0.5);
               -webkit-transform: scale(0.5);
               -o-transform: scale(0.5);
               transform: scale(0.5);
           }
           to {
               -ms-transform: scale(1);
               -moz-transform: scale(1);
               -webkit-transform: scale(1);
               -o-transform: scale(1);
               transform: scale(1);


           }
       }

       .scaling {
           -webkit-animation: scaling 0.4s linear infinite;
           -moz-animation: scaling 0.4s linear infinite;
           -ms-animation: scaling 0.4s linear infinite;
           -o-animation: scaling 0.4s linear infinite;
           animation: scaling 0.4s linear infinite;
       }*/

@-webkit-keyframes rotating /* Safari and Chrome */
{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotScaling /* Safari and Chrome */
{
    from {
    }
    to {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

@keyframes rotScaling {
    from {

    }
    to {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

.rotScaling {
    -webkit-animation: rotScaling 0.7s linear infinite;
    -moz-animation: rotScaling 0.7s linear infinite;
    -ms-animation: rotScaling 0.7s linear infinite;
    -o-animation: rotScaling 0.7s linear infinite;
    animation: rotScaling 0.7s linear infinite;
}

/*************************************** personalize bootstrap ******************************************/
*, html, body {
    letter-spacing: 0 !important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}

.container {
    width: 70% !important;
}

/*.car{
    width: 60% !important;
    margin: 0 auto!important;
}*/

.form-control:focus, .form-control.focus {
    background-image: linear-gradient(#fbd81b, #fbd81b), linear-gradient(#ececec, #ececec) !important;
}

.form-control {
    background-image: linear-gradient(#fbd81b, #fbd81b), linear-gradient(#ececec, #ececec) !important;
}

.form-control option:hover {
    background: var(--pink) !important;
}

/******************************** [scroll style] ******************************/

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--logocolor);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--logocolor);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--black);
}

/******************************** [pace progress bar] ******************************/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    /*display: none;*/
}

.pace .pace-progress {
    background: var(--yellow);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
}

/******************************** [header] ******************************/
#myLineScrole {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    z-index: 999999999;
}

/*.navbarrr {
    border-top: 5px solid var(--yellow) !important;
}*/

.navbar {
    background: var(--white) !important;
    border-bottom: 1px solid var(--yellow);
    color: var(--black) !important;
    font-size: 14px !important;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: XEROSANS-BLACK;
}

.navbar-toggle {
    position: relative;
    float: right !important;
    margin-left: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.dropdown-menu {
    background-color: var(--silver) !important;
    border-radius: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
}

.dropdown-menu:focus {
    background-color: var(--silver) !important;
}

.navbar .dropdown-menu li > a {
    font-weight: bold;
    font-size: 14px !important;
    font-family: XEROSANS-BOLD;
}

.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu li > a:focus {
    color: var(--yellow) !important;
    background-color: var(--black) !important;
}

.dropdown > a {
    font-weight: bold;
}

.dropdown > a:hover, .dropdown > a:focus, .dropdown > a:active, .dropdown > a:visited {
    border-bottom: 2px solid var(--black) !important;
}

.navbar-brand {
    margin-top: -20px;
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
        margin-top: -70px;
    }

    .navbar-right .login-link {
        border-left: none !important;
    }

    .login-link-a {
        margin-left: 100px !important;

    }

    .navbar-collapse {
        margin-top: 20px !important;
    }

    .navbar-collapse ul {

    }
}

.navbar-right {
    padding-left: 10px;
    color: var(--pink) !important;
}

/******************************** [detail] ******************************/
.detail {
    /*border-bottom: 3px solid var(--yellow);*/
    margin-bottom: 2px !important;

}

.detail .right .list li {
    font-size: 16px;
    padding-right: 0 !important;
    line-height: 40px !important;
}

.detail .right .list li i {
    font-size: 28px !important;

}

.detail .description {
    margin-top: 20px;
}

.detail .description p {
    text-align: justify !important;
    font-size: 14px;
    line-height: 24px;
}

.detail .left, .detail .right {
    padding: 0 15px;
    margin-bottom: 50px;
}

.detail .left .big-slide {
    height: 350px !important;
}

.detail .left .big-slide img {
    height: 100% !important;
    width: 100% !important;
}

.detail .left .small-slides {
    margin-top: 50px;
    padding: 5px !important;
    height: 100px;
}

.detail .left .small-slides img:hover, .detail .left .small-slides video:hover {
    cursor: pointer;
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
    border: 2px solid var(--yellow);
}

.detail .left .small-slides .active {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    filter: grayscale(0);
    border: 2px solid var(--yellow);
}

.detail .left .small-slides img, .detail .left .small-slides video {
    height: 100% !important;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 2px solid var(--white);
}

.detail .left .alarms .alarm {
    background: var(--yellow);
    padding: 10px;
    margin-top: 100px;
    font-size: 100%;
}

.detail .left .alarms i {
    color: white;
}

/******************************** [search box] ******************************/
/*.search-box {
    border: 1px solid var(--black);
}

.search-box2 {
    margin: 3px;
    background: var(--yellow);
    padding: 10px;
}

.search-box2 * {
    color: var(--black);
    font-weight: bold;
}

.search-form {
    max-width: 90%;
    margin: 0 auto;
}*/

/******************************** [breadcrumb] ******************************/
.breadcrumb {
    /*background: var(--silver);*/
    background: none;
}

.breadcrumb a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

.breadcrumb a:hover {
    color: var(--pink);
    cursor: pointer;
}

.breadcrumb i {
    font-size: 36px !important;
}

/******************************** [news list] ******************************/
.news-list {
    padding: 10px;
}

.logo {
    width: 60px;
    height: 60px;
}

.green-news {
    /*background: url("../images/site-statics/logo2.png") no-repeat right;*/
    /*background-size: 70px 70px;*/
    /*width: 70px;*/
    /*height: 70px;*/
    /*border-radius: 100%;*/
    /*border: 6px solid var(--yellow);*/
}

.green-news2 {

    width: 30px;
    height: 70px;
    padding: 3px;
    padding-bottom: 10px !important;
    margin-top: -10px !important;
    margin-left: -10px;
    text-align: center;
    background-color: var(--yellow);
}

.green-news2 span {
    /*background: url("../images/files/roban-logo.png") no-repeat bottom;*/
    /*background-size: 30px 40px;*/
    margin-top: 40px;
}

.fair-news {
    background: var(--yellow);
    padding: 2px 0;
    width: 70px;
    font-size: 100%;
    text-align: center !important;
    font-family: XEROSANS-BLACK;
}

.news-list .timezone {
    font-weight: bold;
}

.news-list .money {
    font-size: 14px;
    font-family: XEROSANS-BLACK;
    margin-top: 50px;
}

.news-list .money2 {
    margin-top: 0;
}

.news-list .money3 {
    font-size: 14px;
    font-family: XEROSANS-BLACK;
    margin-top: 70px;
}

.overhover {
    padding-left: 0;
    padding-right: 0;
}

.over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    background-color: var(--dark);
}

.overhover:hover .over {
    opacity: 0.7;
}

.text {
    color: var(--yellow);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.ads-banner {
    background: var(--black);
    width: 100%;
    height: 150px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.ads-banner img {
    width: 70% !important;
    height: 100% !important;
}

/******************************** [pagination] ******************************/
.pagination {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: XEROSANS-BLACK;
}

.pagination * {
    border-radius: 0 !important;
}

.pagination > li > a {
    padding-left: 20px;
    padding-right: 20px;
}

.pagination > li > a, .pagination > .active > a, .pagination > .active > span {
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: 2px solid var(--yellow) !important;
}

.pagination > .pag-back > a, .pagination > .pag-next > a {
    color: var(--white);
    background-color: var(--black);
    border: none !important;
}

.pagination > .pag-back > a:hover, .pagination > .pag-next > a:hover {
    color: var(--black);
    background-color: var(--yellow);
}

.pagination > li > a:hover, .pagination > li > a:focus {
    background-color: transparent;
    color: var(--yellow);
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    color: var(--yellow);
    background: none;
}

.pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: var(--black);
    background: var(--silver);
}

.pagination .first-page a, .pagination .first-page span {
    border-right: none !important;
}

/******************************** [overlay(popup)] ******************************/
/***
#overlay, #overlay2, #overlay3, #overlay4, #overlay5, #overlay6, #overlay7, #overlay8, #overlay9, #overlay10, #overlay11 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
***/
.m-right {
    background: var(--yellow);
    /*height: 50%;*/
    overflow-y: scroll;
}

.m-left {
    background: var(--silver);
    overflow-y: scroll;
    /*padding: 30px 10px !important;*/
}

@media only screen and (min-width: 768px) {
    .m-right, .m-left {
        height: 100%;
    }

    #overlay7 .m-left {
        padding: 50px 10px 10px 10px !important;
    }
}

#overlay7 .m-left {
    padding: 10px 10px 10px 10px;
}

.m-right > .pop-logo {

}

#overlay .m-left input[type="text"], #overlay .m-left input[type="password"], #overlay2 .m-left input[type="text"], #overlay2 .m-left input[type="password"], #overlay3 .m-left input[type="text"], #overlay3 .m-left input[type="password"], #overlay4 .m-left input[type="text"], #overlay4 .m-left input[type="password"], #overlay5 .m-left input[type="text"], #overlay5 .m-left input[type="password"], #overlay6 .m-left input[type="text"], #overlay6 .m-left input[type="password"], #overlay7 .m-left input[type="text"], #overlay7 .m-left input[type="password"] {
    background: var(--white) !important;
    text-align: center;
    font-size: 25px;
}

#overlay8 .m-left textarea, #overlay9 .m-left textarea, #overlay10 .m-left textarea, #overlay11 .m-left textarea, #overlay12 .m-left textarea {
    background: var(--white) !important;
}

#overlay6 > .my-pop > .m-left > .msg {
    margin: 10% auto;
}

.my-pop > .m-left .pop-pakage-info {
    background: var(--white);
    border: 1px solid var(--logocolor);
    border-radius: 5px 5px 0 0;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.pop-pakage-info .pop-pkage-status .pull-right {
    margin-top: 7px;
    color: var(--pink);
}

.pop-pakage-info .pop-pkage-status div {
    margin-bottom: -20px !important;
}

.my-pop > .m-left .pop-pakage-info .pop-pkage-status {
    text-align: justify;
    color: var(--logocolor);
    line-height: 20px;
}

.my-pop > .m-left .pop-pakage-info .pop-pkage-status span {
    padding-right: 10px;
}

.my-pop > .m-left .pop-pakage-info .tit {
    font-weight: bold !important;
    color: var(--black) !important;
    padding-right: 0 !important;
}

#pakage-2, #pakage-3, #pakage-4 {
    display: none;
}

.pakage-amount {
    background-color: var(--logocolor);
    color: var(--yellow);
    border-radius: 0 0 5px 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
}

.m-right > .pop-title {
    margin-top: -20px !important;
    word-wrap: break-word !important;
    font-size: 20px;
}

.my-pop > .m-right {
    background-size: 100% 100%;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    padding: 10px;
    text-align: center;
}

/********************* next change popup *****************/
.my-pop {
    height: 100% !important;
    /*padding: 30px 0 !important;*/
}

.close {
    float: right;
    position: relative;
    z-index: 9999999;
    right: 10px;
    top: 30px;
    color: var(--black) !important;
}

.m-right, .m-left {
    height: 100%;
}

.m-left .pop-form {
    color: var(--black);
    padding: 26px;
    margin-top: 40px;
}

.m-left {
    /*overflow-y: scroll!important;*/
}

.edit-label {
    text-align: right !important;
    padding-right: 0 !important;
    margin-top: 10px !important;
}

.edit-input {
    border-bottom: 1px solid var(--logocolor) !important;
}

.alarmFileUpload {
    margin-top: 50px;
    text-align: right;
    padding-right: 0 !important;
}

.alarmFileUpload b {
    color: red;
    font-size: 16px;
}

/*.popInputShow {
    display: none !important;
}*/

/******************************** [global style page] ******************************/
.block-news {
    border-top: 1px solid var(--yellow) !important;
}

.block-news:hover {
    background: linear-gradient(-90deg, #f5f5f5, white);
}

/*.block-news:first-child{*/
/*border-top: 2px solid var(--yellow) !important;*/
/*}*/

.block-news .right-info {
    padding-right: 20px;
    text-align: right;
    direction: rtl;
    height: 100%;
}

.breadcrumb {
    border-bottom: 1px solid var(--yellow);
    border-radius: 0;
    padding-bottom: 30px;
    font-family: XEROSANS-BLACK;
}

.zapas .breadcrumb, .exhibition .breadcrumb, .repairShop .breadcrumb, .carImports .breadcrumb {
    border-bottom: none;
    border-radius: 0;
    padding-bottom: 5px;
}

.addToGallery {
    cursor: pointer;
}

.addToGallery-disable {
    display: none;
}

/******************************** [car] ******************************/
.car .search-form {
    margin-top: -10px;
    margin-bottom: 50px;
}

.car .search-box {
    margin: 2px;
    background: var(--yellow);
    padding: 10px 20px;

}

.car .search-box * {
    color: var(--black);
    font-weight: bold;
}

.car .border1 {
    border: 3px solid var(--black);
}

.car .border2 {
    border: 3px solid var(--silver);
}

/******************************** [zapas] ******************************/

/******************************** [contact] ******************************/
.contact {
    padding-top: 10px;
    padding-bottom: 50px;
}

.contact .form-control {
    background-image: linear-gradient(#ef087f, #ef087f), linear-gradient(#ececec, #ececec);
}

.contact .form .subject {
    background-color: var(--logocolor);
    color: var(--white);
    margin: 10px 0 10px 0;
}

.contact .form textarea {
    background-color: var(--white);
    border: 1px solid var(--logocolor);
    color: var(--logocolor);
    padding: 10px;
}

.contact .info {
    line-height: 30px;
    font-weight: bold;
    color: var(--logocolor);
}

.contact .info ul {
    list-style: circle;
}

/******************************** [index] ******************************/
.index {
    margin-bottom: 50px !important;
}

.index .form-control {
    background-image: linear-gradient(transparent, transparent), linear-gradient(transparent, transparent) !important;
}

.index .search-box {
    background: var(--black);
    border-radius: 5px;
    padding: 15px;
}

.index .search-box .row1, .index .search-box .row2 {
    width: 100% !important;
    text-align: center;
    display: inline-flex;
}

.index .search-box .row1 .select, .index .search-box .row2 .select {
    background-color: white !important;
    margin: 3px;
}

.index .search-box .row1 .select1, .index .search-box .row1 .select2,
.index .search-box .row2 .select1, .index .search-box .row2 .select2 {
    width: 29%;
}

.index .search-box .row1 .select3, .index .search-box .row1 .select4,
.index .search-box .row2 .select3, .index .search-box .row2 .select4 {
    width: 19%;
    background-color: var(--yellow) !important;
}

.index .search-box select {
    width: 100%;
}

.index .search-box select option::-webkit-scrollbar {
    width: 10px;
}

.index .btn {
    padding-right: 10px;
    text-align: right;
    width: 37%;
    margin-left: 15px;
    background: url("../images/site-statics/icon/21-black.ico") left no-repeat;
    background-size: 20px 20px;
    background-color: var(--yellow) !important;
}

.index .btn:hover {
    background: url("../images/site-statics/icon/24-yellow.ico") left no-repeat;
    background-size: 20px 20px;
    background-color: var(--black) !important;
    color: var(--white);
}

.index .search-box * {
    color: var(--black);
}

/*.index .border1 {
    border: 3px solid var(--black);
}*/

/*.index .border2 {
    border: 3px solid var(--silver);
}*/

#XTX-ID-TheAdCounter {
    height: 46px;
}

#XTX-ID-TheAdCounter div {
    float: left;
    overflow: hidden;
    width: 25px;
    height: 100%;
    border-left: solid 2px #fff;
    position: relative
}

#XTX-ID-TheAdCounter div img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 24px;
    height: auto;
}

.counter-title {
    font-size: 26px;
}

/******************************** [store] ******************************/

.store .search-box2 * {
    color: var(--black);
    font-weight: bold;
}

.store .breadcrumb {
    margin-bottom: 70px;
}

.store form select {
    background: var(--yellow) !important;
}

.store form .form-control {
    background-image: linear-gradient(#fbd81b, #fbd81b), linear-gradient(#ececec, #ececec) !important;
}

.store form input[type="text"] {
    background: var(--white) !important;
    border: 1px solid var(--logocolor);
    padding-right: 10px;
    margin-right: 5px;
}

.store form .search-submit {
    background: none !important;
    border: none !important;
    position: absolute;
    top: 2px;
    left: 0;
}

.store form input[type="text"], .store form select {
    margin-bottom: 10px;
}

/******************************** [survey] ******************************/
.survey form select {
    background: var(--yellow) !important;
}

.survey form .form-control {
    background-image: linear-gradient(#fbd81b, #fbd81b), linear-gradient(#ececec, #ececec) !important;
}

.survey form input[type="text"] {
    background: var(--white) !important;
    border: 1px solid var(--logocolor);
    padding-right: 10px;
    margin-right: 5px;
}

.survey form .search-submit {
    background: none !important;
    border: none !important;
    position: absolute;
    top: 2px;
    left: 0;
}

.survey form input[type="text"], .store form select {
    margin-bottom: 5px;
}

.survey .select1, .survey .select2 {
    padding: 2px;
}

.survey .select2 select {
    background: var(--black) !important;
    color: var(--white) !important;
}

.survey .forms {
    margin: 0 30px;
}

.survey .grid {
    margin-bottom: 5px;
}

.survey .forms .links-icon {
    margin: 10px 0;
    display: none;
}

.links-icon img {
    cursor: pointer;
}

.detailCar {
    line-height: 30px;
    display: none;
}

.margTop {
    margin-top: 20px;
    border-bottom: 1px solid var(--silver);
    padding-bottom: 10px;
}

.detailCar .pull-left {

    font-size: 16px;
    color: var(--black);
}

.detailCar .pull-right {
    font-size: 14px;
    color: #999999;
}

.boldFont {
    font-family: XEROSANS-BLACK;
    text-align: right;
}

/******************************** [carPrice] ******************************/
.carPrice .item {
    border-bottom: 1px solid var(--silver);
    padding: 10px;
    margin-bottom: 10px;
}

.carPrice .title {
    /*border-bottom: 1px solid var(--yellow)!important;*/
}

.carPrice .title span {
    font-size: 20px;
}

.carPrice .link-info {
    padding: 10px;
    line-height: 50px;
}

.carPrice .link-info a span {
    font-size: 12px !important;
}

.carPrice .link-info .price {
    color: limegreen;
}

.carPrice .link-info:hover .price {
    color: var(--pink) !important;
}

/******************************** [exhibition] ******************************/
.exhibition .search-box2 * {
    color: var(--black);
    font-weight: bold;
}

/******************************** [apps] ******************************/
.apps .android {
    border-left: 1px solid var(--logocolor);
    padding: 50px;
}

.apps .ios {
    border-right: 1px solid var(--logocolor);
    padding: 50px;

}

.apps .app-android {
    background: url("../images/site-statics/android.png") no-repeat center;
    height: 100px;
    background-size: 100px 100px;
    margin-bottom: 50px;
}

.apps .app-ios {
    background: url("../images/site-statics/ios.png") no-repeat center;
    height: 100px;
    background-size: 100px 100px;
    margin-bottom: 50px;
}

.apps .android img {
    width: 170px;
    height: 50px;
}

.apps .ios img {
    width: 170px;
    height: 50px;
}

@media only screen and (max-width: 768px) {
    .apps .android {
        border-left: none;
        border-bottom: 1px solid var(--logocolor);
    }

    .apps .ios {
        border-right: none;
        border-top: 1px solid var(--logocolor);
    }

}

.apps .android img, .apps .ios img {
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    margin-bottom: 5px;

}

.apps .android img:hover, .apps .ios img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

/******************************** [tariffs] ******************************/
.tariffs .radio-buttons {
    margin-bottom: 50px;
}

.tariffs .pack {
    border: 2px solid var(--silver);
    padding: 0 20px;
    padding-bottom: 10px;
    font-size: 100%;
}

.tariffs .pakages {
    text-indent: 20px !important;
}

.tariffs .pakage-amount {
    background-color: var(--logocolor);
    color: var(--yellow);
    border-radius: 0 !important;
    padding: 10px;
    font-weight: bold;
    font-size: 100%;
    margin-top: 2px;
}

.tariffs .pakage-amount .price {
    color: var(--white) !important;
}

.res {
    color: var(--pink) !important;
}

.fa-check-circle {
    color: limegreen;
}

.fa-times-circle {
    color: red;
}

/******************************** [profile] ******************************/
.profile .block-news:hover {
    background: transparent !important;
}

.btn-logout {
    padding: 5px 20px !important;
    margin-left: 50px;
}

.profile .menu ul li {
    background: var(--logocolor);
    color: var(--yellow);
    padding: 10px;
    text-align: center;
    margin: 1px;
    font-weight: bold;
}

.profile .menu ul li:hover {
    background: var(--yellow);
    color: var(--logocolor);
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}

.profile > .menu > ul > .act {
    background: var(--yellow) !important;
    color: var(--logocolor) !important;
}

.profile #user-acount form {
    padding: 10px;
}

.profile #user-acount form input[type="text"], .profile form input[type="password"], .profile .pakagesStatus {
    border: none !important;
    box-shadow: none !important;
    padding: 10px;
    background-color: white !important;
}

.profile #user-acount .pakagesStatus ul {
    list-style: none;
}

.profile #pakages .pakage-box {
    background: var(--white) !important;
    padding: 0 10px;
    border: 2px solid var(--black);

}

.profile #pakages .pakage-box .pakage-amount {
    border-radius: 0 !important;
    padding: 10px;
}

.profile #pakages ul {
    list-style: none;
}

.profile #listen {
    padding: 10px;

}

.profile #listen form select {
    border-radius: 0 !important;
}

.profile #listen .two-element {
    padding: 30px;
}

.profile .block-news {
    /*border-bottom: 2px solid var(--yellow) !important;*/
}

.profile .block-news .right-info {
    padding-right: 20px;
    text-align: right;
    direction: rtl;
}

.profile .block-news .manager-links {
    line-height: 40px !important;
}

.profile .manager-links span img {
    cursor: pointer !important;
}

.profile .block-news .status-accept {
    color: #00b6ff;
}

.profile .block-news .status-pending {
    color: orange;
}

.profile .block-news .status-unaccept {
    color: red;
}

.profile .money {
    margin-top: 0;
}

.profile #parking .block-news .right-info {
    padding-right: 20px;
    text-align: right;
    direction: rtl;
}

.profile .content {
    background-color: var(--silver) !important;
    padding: 10px;
    height: 434px;
    overflow-y: scroll;

}

.profile input[type='password'], .profile input[type='text'], .profile select {
    padding: 5px !important;
}

.profile form select {
    border: none !important;
    box-shadow: none !important;
    padding: 5px;
    border-radius: 5px;
    background-color: white !important;
}

.profile .pakage-amount {
    border-radius: 5px !important;
}

.profile .block-news {
    border-top: 1px solid var(--black);
}

.profile .status-news {
    padding-top: 35px !important;
}

.profile .fair-news {
    margin-top: -10px !important;
}

.profile .profile-news-img {
    height: 150px;
    width: 100%;
}

.radio-primary input[type=radio]:checked ~ .check {
    background-color: black !important;
}

/******************************** [registers] ******************************/
.registers .my-btn {
    width: 200px !important;
}

.registers {
    padding-top: 10px;
    padding-bottom: 30px;
}

/******************************** [footer] ******************************/
.footer {
    width: 100%;
    margin: 0 !important;
    padding-bottom: 20px;
    bottom: 0 !important;
}

.footer a {
    font-weight: bold;
}

.footer-banner {
    border-top: 3px solid var(--yellow);
}

.footer-banner h1 {
    background: var(--black);
    margin-top: 5px;
    color: var(--yellow);
    height: 150px;
    line-height: 150px;
    font-size: 300%;
    text-wrap: none;
    text-combine: 10px;
}

.footer .copyright {
    font-size: 12px !important;
    padding-top: 10px
}

@media only screen and (max-width: 992px) {
    .footer .copyright {
        padding-right: 100px;
    }
}

/******************************** [to top button] ******************************/
.to-up {
    position: fixed;
    right: 12px;
    bottom: 0px;
}

.to-up:not(.btn-link):not(.btn-flat) {
    background: var(--yellow);
    color: var(--black);
}

.to-up:hover:not(.btn-link):not(.btn-flat) {
    background: var(--yellow);
    color: var(--black);
}

.to-up:active:not(.btn-link):not(.btn-flat) {
    background: var(--yellow);
    color: var(--black);
}

/**************************** detail slider **************************/
.back-slider {
    background: var(--black);
    padding: 10px;
    /*text-align: center;*/
    min-width: 100% !important;

}

.back-slider .title {
    background: var(--yellow) !important;
    color: var(--black) !important;
    text-align: center;
    padding: 7px 30px;
    margin-bottom: 10px;
}

#jssor_1 {
    position: relative;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 150px;
    overflow: hidden;
    visibility: hidden;
}

.js-slides .arrow-right {
}

.js-slides .arrow-left {

}

.js-slides {
    cursor: default;
    position: relative;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 150px;
    overflow: hidden;
}

/**************************** last change popups **************************/
.allpopup.actuve {
    visibility: visible;
    opacity: 1;
}

.allpopup {
    position: fixed;
    background: #000000e6;
    z-index: 9999999;
    visibility: hidden;
    opacity: 0;
    -moz-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    direction: rtl;
}

.onepopup {
    width: 800px;
    min-height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
    /*border-radius: 10px;*/
    /*box-shadow: 0px 0px 10px #000;*/
    display: none;
}

.onepopup .my-pop {
    height: 100%;
    width: 100%;
}

.onepopup .my-pop > div {
    height: 500px;
    min-height: 500px;
    overflow-y: auto;
    overflow-x: hidden !important;
}

@media only screen and (max-width: 768px) {
    .allpopup.actuve {
        overflow: auto;
    }

    .onepopup {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .onepopup .my-pop > div {
        height: auto;
        min-height: auto;
        overflow: hidden;
    }
}

textarea {
    resize: none !important;
}

select option {
    background: var(--yellow) !important;
}

select option:hover {
    background-color: var(--black) !important;
    color: var(--yellow) !important;
}

.imageList {
    height: 150px !important;
    width: 100% !important;
}

.editNumber {
    color: #0aa2ff;
}

.editNumber:hover {
    color: #0a8ee6;
    cursor: pointer;
}

/******************************** [legal detail] ******************************/
.legal-detail .breadcrumb {
    border-bottom: 1px solid var(--yellow);
    padding-top: 0 !important;
    padding-bottom: 20px !important;
}

/************************** pop up file dwnload *************************/

.advr_pic_item {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--black);
    margin: auto;
    cursor: pointer;
    background: url("../images/site-statics/icon/33-box.png") center no-repeat !important;
    background-color: var(--logocolor) !important;
    background-size: 60px 70px !important;
    position: relative;
    margin-top: 50px !important;

}

.advr_pic_item_last {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--black);
    margin: auto;
    cursor: pointer;
    background: url("../images/site-statics/icon/34-box.png") center no-repeat !important;
    background-color: var(--logocolor) !important;
    background-size: 60px 70px !important;
    position: relative;
}

.advr_pic_item:hover {
    background-color: var(--yellow) !important;
}

.advr_pic_item input[type=file] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: pointer;
}

.advr_pic_item img {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    background-color: transparent;
    z-index: 1000;
}

.advr_pic_item i.fa {
    font-size: 20px;
}

.advr_pic_item a {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 34px;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: rgba(0, 0, 0, 0.60) !important;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    z-index: 99999999;
    left: 0;
}

#step2 .container-fluid .row {
    padding-right: 30px;
}

#step2 .container-fluid .row .alarmFileUpload {
    padding-right: 10px !important;
}

/************************** carousel ***************************/
.owl-carousel {
    direction: ltr !important;
}

.owl-carousel .owl-item {
}

.owl-carousel h5 {
    color: white;
}

.owl-carousel h5:first-child {
    text-align: right;
}

.owl-carousel h5:last-child {
    text-align: left;
}

.owl-carousel img {
    height: 150px !important;
    z-index: 1 !important;
    background-color: var(--silver) !important;
}

.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    display: flex !important;
    align-items: center !important;
}

.owl-carousel .owl-nav .owl-prev span, .owl-carousel .owl-nav .owl-next span {
    width: 50px !important;
    height: 50px !important;
    margin-top: -200px !important;
    position: relative !important;
}

.owl-carousel .owl-nav .owl-prev span, .owl-carousel .owl-nav .owl-next span {
    color: var(--white) !important;
    font-size: 50px !important;
    line-height: 10px !important;
    font-weight: 100 !important;
}

.owl-carousel .owl-prev {
    float: left !important;
}

.owl-carousel .owl-next {
    float: right !important;
}

.star-red {
    color: red!important;
}

.noLinkShow {
    cursor: default !important;
}

.noLinkShow:hover, .noLinkShow:focus, .noLinkShow:visited {
    background: none !important;
}