RewriteEngine On

# Prevent file browsing
Options All -Indexes

# pass the default character set
AddDefaultCharset utf-8

# protection of htaccess file
<files ".htaccess">
order allow,deny
deny from all
</files>

# delete .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(([A-Za-z0-9\-]+/)*[A-Za-z0-9\-]+)?$ $1.php

#redirect if not allowed file to 404 page
RewriteRule ^functions.php$ 404.php
RewriteRule ^config.php$ 404.php
RewriteRule ^jdf.php$ 404.php

